/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    gap: 35px;
    padding: 0;
    margin: 0;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
}

h2 {
    font-size: 18px;
    font-weight: 700;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

p{
    font-size: 16px;
    font-weight: 400;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Header ***********/
header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0px 30px 0px;
    gap: 10px; 
}

.logo {
    width: 61.1px;
    height: 19px;
}


nav a {
    text-decoration: none;
    margin: 0 25px;
    color: inherit;
  }
  
  nav a:hover {
    color: var(--main-color);
    border-top: 3px solid var(--main-color);
    padding-top: 28px;
  }

/****** Form ***********/

.champ-recherche {
    margin-bottom: 35px;
}

.champ-recherche-titre h1 {
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 8px;
}

.champ-recherche-titre p {
    margin-top: 0;
    margin-bottom: 35px;
}

form{
    display:flex;
    margin-bottom: 35px;
}

.fa-location-dot{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 49px;
    background-color: var(--main-bg-color);
    border-radius: 15px 0 0 15px;
    font-size: 18px;
    color: inherit;
}

input {
    width: 213px;
    height: 49px;
    border: 2px solid var(--main-bg-color);
    outline: none;
    font-size: 18px;
    color: inherit;
  }
  
  input::placeholder {
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    color: inherit;
  }

.btn-search{
    width: 132px;
    height: 49px;
    background-color: var(--main-color);
    border-radius: 0px 15px 15px 0px;
    border: none;
    font-weight: 700;
    font-size: 18px;
    color: white;
    cursor: pointer;
}

.btn-search-glass{
    width: 49px;
    height: 49px;
    border-radius: 15px;
    background-color: var(--main-color);
    color: white;
    border: 1px solid var(--main-color);
    cursor: pointer;
    display: none;
}

.btn-search-glass i {
    color: var(--white);
    font-size: 17px;
}

/****** Filtres ******/

.filtres {
    display: flex;
    flex-direction: row;
    padding-bottom: 35px;
    align-items: center;
}

.filtres h2 {
    margin-right: 15px;
}

.liste-filtres {
    display: flex;
}

.bouton-filtre {
    display: flex;
    align-items: center;
    height: 50px;
    border-radius: 25px;
    border: 2px solid #D9D9D9;
    background-color: white;
    font-size: 16px;
    font-weight: 700;
    padding: 4px 19px 4px 19px;
    margin-right: 15px;
}

.bouton-filtre i {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 22px;
    width: 22px;
    margin-right: 10px;
}

.bouton-filtre:hover {
    background-color: var(--filter-bg-color);
    cursor: pointer;
}

.infos {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.infos-icone {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    border: 2px solid var(--main-bg-color);
    border-radius: 50px;
    margin-right: 10px;
}

.fa-info {
    font-size: 12px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements, 
.populaires {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
  }

.hebergements-cards a {
    display: flex;
    flex-direction: column;
    width: 28.7%;
    margin-top: 30px;
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}
.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 8px;
}

.hebergements-cards .card-subtitle {
    margin: 8px 0;
}

.hebergements-cards .card-rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    width: 81px;
    height: 13.25px;
    font-size: 1.1em;
}

.hebergements-cards img {
    width: 100%;
    height: 110px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
  }

.hebergements-cards .card-content {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.hebergerments-afficher-plus {
    margin-top: 30px;
    margin-left: 5px;
}

.hebergerments-afficher-plus a {
    text-decoration: none;
    color: inherit;
    font-weight: 700;
    font-size: 16px;
  }

/****** Populaires ***********/

.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activités ***********/

.activites-list {
	display: flex;
	justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
}

.activites-list img {
    width: 100%;
    height: 380px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
  }

.activites-list a {
    width: 22%;
    height: 439px;
    border-radius: 20px 20px 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
}

.activites-title h2 {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
}

.activites-list h3 {
    padding-left: 19px;
    font-size: 16px;
}

.activite-cards {
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1)
}

/****** Footer ***********/

footer {
    background-color: #F2F2F2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 65px;
}

.footer-column {
    flex: 30%;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-bottom: 20px;
}

.footer-column a {
    margin-bottom: 15px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) and (min-width: 768px) {

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activites-list a {
        height: 270px;
    }
    
    .activites-list img {
        height: 200px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
    .main-container {
        padding: 0;
        margin: 0;
        box-sizing: content-box;
        width: 100%;
        border-style: none;
      }

/****** Header ******/

header {
    display: flex;
    flex-direction: column;
    display: flex;
    box-sizing: content-box;
    width: 100%;
}

.logo {
    margin-bottom: 30px;
}

nav {
    display: flex;
    width: 100%;
    border-width: 0;
}

nav a {
    padding-bottom: 15px;
    border-bottom: 3px solid #F2F2F2;
    width: 50%;
    text-align: center;
    margin: 0;
}

  nav a:hover {
    border-top: 0;
    border-bottom: 3px solid var(--main-color);
    padding-top: 0;
    padding-bottom: 15px;
}

.liens {
    margin: 0;
    gap: 0px;
}

/****** Form ******/

    form {
        justify-content: center;
      }

    .btn-search {
        display: none;
    }

    .btn-search-glass {
        display: flex;
        border-radius: 15px;
        justify-content: center;
        align-items: center;
    }

/****** Filtres ******/

.champ-recherche {
    margin-left: 20px;
    margin-right: 20px;
}

.filtres {
    flex-direction: column;
    align-items:flex-start;
}

.liste-filtres {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: 20px;
}

.bouton-filtre {
    width: 45%;
    font-size: 14px;
    margin-right: 0;
}

/****** Hébergements ******/

    .hebergements-and-populaires {
        flex-direction: column-reverse;
        gap: 20px;
    }

    .hebergements-and-populaires section {
        border-radius: 0;
    }

    .hebergements {
        background-color: white;
        width: 100%;
    }

    .hebergements-cards a {
        flex-direction: column;
        width: 100%;
    }

/****** Populaire ******/

.populaires {
    width: 100%;
    border-radius: 0;
}

.populaires-cards a {
    flex-direction: column;
    width: 100%;
}

/****** Activités ******/

.activites-list {
    width: 86%;
    margin: auto;
}

.activites-list a {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.activites-list img {
    height: 141px;
}

/****** Footer ******/

.footer {
    flex-direction: column;
    gap: 35px;
}

.footer-column {
    width: 85%;
}

}
